
    <!-- <div echarts [options] = "chartOption" [loading]="showloading" class="demo-chart"></div>
    <div echarts [options] = "Baroptions" [loading]="showloading" class="demo-chart"></div>
    <div echarts [options] = "linkoption" [loading]="showloading" class="demo-chart"></div> -->
    <!-- <div echarts [options] = "mapoption" [loading]="showloading" class="demo-chart"></div> -->
    <div class="container-fluid height100">
      <div class="report-view height100">
        <div><h4 class="text-center p-10">数据可视化</h4></div>
        <ngb-carousel class="height94">
          <ng-template ngbSlide>
            <div class="row height100">
              <div class="col-md-9 height100">
                <div class="row" style="height:62.6%">
                  <div class="col-md-3 height100">
                    <div class="height100">
                      <div class="report-box">
                        <!-- <div class="title pl-10">
                          <h4>啊啊啊啊啊</h4>
                        </div> -->
                        <div echarts [options] = "scatteroption" [loading]="showloading" class="chart-box"></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="height100">
                      <div class="report-box">
                        <!-- <div class="title pl-10">
                          <h4>啊啊啊啊啊</h4>
                        </div> -->
                        <div echarts [options] = "mapoption" [loading]="showloading" class="chart-box"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-40" style="height:29%">
                  <div class="col-md-6">
                    <div class="report-box">
                      <div class="title pl-10">
                        <h4>啊啊啊啊啊</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="report-box">
                      <div class="title pl-10">
                        <h4>啊啊啊啊啊</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 height100">
                <div class="height29">
                  <div class="report-box">
                    <!-- <div class="title pl-10">
                      <h4>疾病分布</h4>
                    </div> -->
                    <div echarts [options] = "illnessoption" [loading]="showloading" class="chart-box"></div>
                  </div>
                </div>
                <div class="height29 mt-40">
                  <div class="report-box">
                    <div class="title pl-10">
                      <h4>类型分布</h4>
                    </div>
                  </div>
                </div>
                <div class="height29 mt-40">
                  <div class="report-box">
                    <div class="title pl-10">
                      <h4>项目分布</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="row">
              492739472398472747293472
            </div>
          </ng-template>
        </ngb-carousel>
    </div>
    </div>
    
